<html>
  <head>
  </head>
  <body>
    <h1>Braintree Credit Card Transaction Form</h1>
    <div>
      <form action="/create_transaction" method="POST" id="braintree-payment-form">
        <p>
          <label>Card Number</label>
          <input type="text" size="20" autocomplete="off" data-encrypted-name="number" />
        </p>
        <p>
          <label>CVV</label>
          <input type="text" size="4" autocomplete="off" data-encrypted-name="cvv" />
        </p>
        <p>
          <label>Expiration (MM/YYYY)</label>
          <input type="text" size="2" name="month" /> / <input type="text" size="4" name="year" />
        </p>
        <input type="submit" id="submit" />
      </form>
    </div>
    <script src="https://js.braintreegateway.com/v1/braintree.js"></script>
    <script>
      var braintree = Braintree.create("MIIBCgKCAQEApig1rk1n/roZtI+Su2IsRoK9xFHe4yZ6tcLkPo0QjKuqzaF6mlZkprymYI3ZeEZWEs7Z0L2qAYc3sd3cUJ5eZ1jYAvmPKfMe3w2bu5jBCSbD+yCakahdqxnjvLedpU/pYf1uAgjDXCTV8Nuhhebj9CravVcORsN2POEmHhgP0qwhb+5xV0nAiogY1O9bmGw8k+8ic8+SW8MHQh/98HcvluS5NR0ogKx3UBAc9X4ThmIBMgh8o9K628V/q/i9F5C4WruyhxFmHX8vZglCoQYF98pGcRLz9nGVfJ0lLAlosNkgysrVwW+rm9VT4GVDHY1VCjTpgIiSaJuW+YeaLykLowIDAQAB");
      braintree.onSubmitEncryptForm('braintree-payment-form');
    </script>
  </body>
</html>
